workflow/buergeranfragen-assistent.json
{
  "name": "Bürgeranfragen-KI-Assistent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "protocol": "imaps",
        "host": "={{ $env.IMAP_SERVER }}",
        "port": "={{ $env.IMAP_PORT }}",
        "user": "={{ $env.IMAP_USER }}",
        "password": "={{ $env.IMAP_PASSWORD }}",
        "mailbox": "INBOX",
        "markAsRead": true
      },
      "id": "email-trigger",
      "name": "Neue E-Mails abrufen",
      "type": "n8n-nodes-base.emailTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all();\nconst results = [];\n\nfor (const email of emails) {\n  results.push({\n    json: {\n      subject: email.json.subject || 'Kein Betreff',\n      from: email.json.from || email.json.fromAddress || '',\n      body: email.json.textAsHtml || email.json.text || '',\n      date: email.json.date || new Date().toISOString(),\n      messageId: email.json.messageId || '',\n      category: 'unbekannt'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "extract-email",
      "name": "E-Mail-Daten extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": $env.OLLAMA_MODEL || \"llama3.1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein KI-Assistent für eine deutsche Stadtverwaltung. Klassifiziere die folgende Bürgeranfrage in eine dieser Kategorien: amtliche_bescheinigung, meldeangelegenheit, bauantrag, verkehr_anordnung, abfall_entsorgung, sozialleistung, steuer, beschwerde, sonstiges. Antworte NUR mit der Kategorie, nichts anderes.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Betreff: \" + $json.subject + \"\\n\\n\" + $json.body\n    }\n  ],\n  \"stream\": false\n}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "classify-email",
      "name": "Anfrage klassifizieren (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const response = JSON.parse(item.json.body || '{}');\n  const category = (response.message?.content || 'sonstiges').trim().toLowerCase();\n  results.push({\n    json: {\n      ...item.json,\n      category: category\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-category",
      "name": "Kategorie parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": $env.OLLAMA_MODEL || \"llama3.1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein höflicher KI-Assistent einer deutschen Stadtverwaltung. Erstelle eine professionelle Erstantwort auf die folgende Bürgeranfrage. Die Antwort soll: 1) Den Absender namentlich ansprechen 2) Die Anfrage bestätigen 3) Eine grobe Bearbeitungsfrist nennen (3-5 Werktage) 4) Hinweis auf Datenschutz (DSGVO) 5) Kontaktdaten der zuständigen Abteilung Kategorie: \" + $json.category\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Betreff: \" + $json.subject + \"\\nVon: \" + $json.from + \"\\n\\n\" + $json.body\n    }\n  ],\n  \"stream\": false\n}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "generate-response",
      "name": "Erstantwort generieren (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const response = JSON.parse(item.json.body || '{}');\n  const reply = response.message?.content || 'Leider konnte keine automatische Antwort erstellt werden.';\n  results.push({\n    json: {\n      ...item.json,\n      reply: reply\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-response",
      "name": "Antwort parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "audit_log",
        "columns": "message_id,category,sender,subject,response_body,created_at",
        "additionalFields": {}
      },
      "id": "audit-log",
      "name": "Audit-Log speichern",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM }}",
        "toEmail": "={{ $json.from }}",
        "subject": "=Ihre Anfrage: {{ $json.subject }}",
        "text": "={{ $json.reply }}",
        "options": {}
      },
      "id": "send-reply",
      "name": "Erstantwort senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1680,
        420
      ]
    }
  ],
  "connections": {
    "Neue E-Mails abrufen": {
      "main": [
        [
          {
            "node": "E-Mail-Daten extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail-Daten extrahieren": {
      "main": [
        [
          {
            "node": "Anfrage klassifizieren (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anfrage klassifizieren (Ollama)": {
      "main": [
        [
          {
            "node": "Kategorie parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kategorie parsen": {
      "main": [
        [
          {
            "node": "Erstantwort generieren (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erstantwort generieren (Ollama)": {
      "main": [
        [
          {
            "node": "Antwort parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Antwort parsen": {
      "main": [
        [
          {
            "node": "Audit-Log speichern",
            "type": "main",
            "index": 0
          },
          {
            "node": "Erstantwort senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "instanceId": "buergeranfragen-ki-assistent",
    "templateId": "buergeranfragen"
  },
  "tags": [
    "bürgeranfragen"
  ]
}